/* ==== Color Theme ==== */
:root {
  --off-black: #1c1c1d;
  --off-white: #f3ede0;
  --gray: #d8d3cc;
  --section-border: #31302c;
  --blue: #539bfa;
  --dark-blue: #307ee4;
  --red: rgb(244, 87, 20);
  --font-sans: 'IBM Plex Sans', Arial, sans-serif;
  --font-mono: 'IBM Plex Mono', Arial, sans-serif;
  /* --font-sans: 'Lato', Verdana, Helvetica, sans-serif; */
} 

/* ==== Reset and Body ==== */
html, body {
  margin: 0;
  padding: 0;
  background: var(--off-black);
  color: var(--gray);
  font-family: var(--font-sans);
  font-weight: 400;
  font-size: 14px;
  scroll-behavior: smooth;
  scroll-padding-top: 4.6rem;
  
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

section {
  border-bottom: 2px solid var(--section-border);

  /* top right bottom left */
  padding: 2.0rem 25px 2.0rem 30px;
}

#experience {
  padding-right: 90px;
}

section:first-of-type {
  border-top: none;
}

a {
  color: var(--blue);
  text-decoration: none;
  
  /* font-family: 'IBM Plex Mono', sans-serif; */
  font-family: var(--font-mono); 
  font-size: 1.1rem;
  font-weight: 600;
}
a:hover {
  color: var(--dark-blue);
}

/* ==== Bio Section ==== */
.bio-section {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 60px;
  border-bottom: none;
}
.bio-image {
  max-width: 35%;
}
.bio-text {
  flex: 1;
  text-align: justify;
}

.bio-text h1 {
  font-size: 3.5rem;
  font-weight: 500;
  font-family: var(--font-mono);
  margin-bottom: 0.5rem;
}
.bio-text p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.2rem;
}

#education::after {
  content: '';
  position: absolute;
  top: 1780px;
  width: 350px;
  
  
  height: 400px;
  left: 70%;
  transform: translateX(-50%);
  
  background-image: url('assets/fun2.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center top;
  z-index: 102;
  pointer-events:none;
  filter: invert(0.9);
  
  transform: translateX(-50%) scaleX(-1);
}
/* ==== Navbar ==== */
.title-bar {
  position: sticky;
  top: 0;
  z-index: 101;
  padding: 1.0rem;
  
  /* stuff inside centered */
  display: flex;
  justify-content: center;
  align-items: center;


  background: var(--off-black);
  border-bottom: 2px solid transparent;
}

.title-bar.stuck {
  border-bottom-color: var(--section-border);
  z-index: 103;
}

.background {
  content: '';
  position: absolute;
  top: 630px;
  width: 1300px;
  height: 900px;
  left: 50%;
  transform: translateX(-50%);
  
  background-image: url('assets/fun.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center top;
  z-index: 102;
  pointer-events:none;
  filter: invert(0.9);
}


.navigation-links {
  display: flex;
  gap: 2.7rem;
}

.title-bar .navigation-links a {
  text-decoration: none;
  font-weight: 600;
  font-size: 1.1rem;
  letter-spacing: 0.01em;
  padding: 0.5rem;
  color: var(--gray);
}

.navigation-links a:hover,
.navigation-links a:focus {
  color: var(--off-white);
}


h2 {
  font-size: 2.0rem;
  margin: 0 0 3rem 0;
  font-weight: 500;
  font-family: var(--font-mono);
  letter-spacing: -0.05rem;
}

/* ==== Experience Section ==== */
ul.exp-list{
  list-style: none;
  padding-left: 1.5rem;
  margin-top: 0.2rem;
}

.narrow {
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
}

li.exp-item {
  margin-bottom: 1.1rem;
  font-size: 1.2rem;
}

ul {
  padding-left: 2.0rem;
  margin-top: 0.1rem;
  list-style-type: "– ";
}
li {
  margin-top: 0.0rem;
}

b {
  font-weight: 700;
}


/* ==== Publications ==== */
/* #publications .pub-list {
  width: 800px;
  
} */
.pub-list {
  display: flex;
  flex-direction: column;
  gap: 2.2rem;
  margin-top: 1.4rem;
  margin-bottom: 3rem;
}
.pub-item {
  display: flex;
  align-items: flex-start;
  gap: 3rem;
}
.pub-img {
  width: 250px;
  object-fit: contain;
  border: 3px solid white;
  margin-top: auto;
  margin-bottom: auto;
}

.pub-vid {
  width: 200px;
  object-fit: contain;
  margin-top: auto;
  margin-bottom: auto;
  border-left: 28px solid white;
  border-right: 28px solid white;
}

.pub-text {
  flex: 1;
  display: inline;
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 0.2em;
}
.pub-text i {
  /* font-weight: 700; */
  /* color: white; */
  color:rgb(244, 87, 20);
  font-style: normal;
}

/* ==== Responsive ==== */
@media (max-width: 800px) {
  html {
    font-size: 0.35cm;
  }
  
  .title-bar {
    position: static;
  }
  .background {
    display: none;
  }
  .navigation-links {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  
  .bio-image {
    max-width: 100%;
    
  }
  .bio-section {
    flex-direction: column;
  }

  .pub-item {
    flex-direction: column;
  }
  
  #experience {
    padding-right: 25px;
    max-width: 100%;
  }
  
  .narrow {
    max-width: 100%;
  }
  
  h1 {
    text-align: center;
  }
  h2 {
    text-align: center;
  }
  
  ul.exp-list{
    padding-left: 0.5rem;
  }
}