
/* ==== Color Theme ==== */
:root {
  --off-black: #161512;
  --off-white: #f3ede0;
  --gray: #d7cdc0;
  --section-border: #31302c;
  --blue: #539bfa;
  --dark-blue: #307ee4;
  --red: rgb(244, 87, 20);
}

/* ==== Reset and Body ==== */
html, body {
  margin: 0;
  padding: 0;
  background: var(--off-black);
  color: var(--gray);
  font-family: 'IBM Plex Sans', Arial, sans-serif;
  font-weight: 400;
  /* font-size: 0.9em; */
  font-size: 0.4cm;
  scroll-behavior: smooth;
  line-height: 0.67cm;
}

a {
  color: var(--blue);
  text-decoration: none;
  
  font-family: 'IBM Plex Mono', sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
}
a:hover {
  color: var(--dark-blue);
}

/* ==== Bio Section ==== */
.bio-section {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 64px;
  border-bottom: none;
}
.bio-image {
  flex-basis: 33%;
}
.bio-text {
  flex: 1;
}

.bio-text h1 {
  font-size: 3.5rem;
  margin: 0 0 0.6em 0;
  font-weight: 700;
  font-family: 'IBM Plex Mono', Arial, sans-serif;
}
.bio-text p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.2rem;
}

/* ==== Navbar ==== */
.title-bar {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.3rem 0;
  background: var(--off-black);
  border-bottom: none;

}

.navigation-links {
  display: flex;
  gap: 2.7rem;
}

.title-bar .navigation-links a {
  text-decoration: none;
  font-weight: 600;
  font-size: 1.1rem;
  letter-spacing: 0.01em;
  padding: 0.5rem;
  color: var(--gray);
}

.navigation-links a:hover,
.navigation-links a:focus {
  color: var(--off-white);
}

/* ==== Section Separators ==== */
section {
  border-bottom: 2px solid var(--section-border);

  /* top right bottom left */
  padding: 2.0rem 25px 2.0rem 30px;
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
  
}

#experience {
  max-width: 660px;
  padding-right: 60px;
}

section:first-of-type {
  border-top: none;
}

h2 {
  font-size: 2.0rem;
  margin: 0 0 3rem 0;
  font-weight: 500;
  font-family: 'IBM Plex Mono', Arial, sans-serif;
  letter-spacing: -0.05rem;
}

/* ==== Lists and Body Links ==== */
ul {
  padding-left: 1.5em;
  margin-top: 0.2em;
  /* width: 89%; */
}
li {
  margin-bottom: 1.1em;
  font-size: 1.2rem;
  padding-left: 0.0em;
  
}
li b {
  font-weight: 700;
}

/* ==== Publications ==== */
/* #publications .pub-list {
  width: 800px;
  
} */
.pub-list {
  display: flex;
  flex-direction: column;
  gap: 2.2rem;
  margin-top: 1.4rem;
}
.pub-item {
  display: flex;
  align-items: flex-start;
  gap: 1.6rem;
}
.pub-img {
  width: 200px;
  height: 120px;
  object-fit: contain;
  /* border-radius: 0.5rem; */
  /* background: #161617; */
  /* border: 2px solid var(--section-border); */
  /* flex-shrink: 0; */
}
.pub-text {
  flex: 1;
  display: inline;
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 0.2em;
}
.pub-text i {
  /* font-weight: 700; */
  /* color: white; */
  color:rgb(244, 87, 20);
  font-style: normal;
}

/* ==== Responsive ==== */
@media (max-width: 768px) {
  html {
    font-size: 0.35cm;
  }
  
  .title-bar {
    position: static;
  }
  .navigation-links {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  
  .bio-image {
    max-width: 100%;
    
  }
  .bio-section {
    flex-direction: column;
  }

  .pub-item {
    flex-direction: column;
  }
  
  #experience {
    padding-right: 25px;
    max-width: 100%;
  }
  
  h1 {
    text-align: center;
  }
  h2 {
    text-align: center;
  }
  
  ul {
    padding-left: 0rem;
  }
}